/* - Global - */

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600;900&family=Work+Sans:ital,wght@0,400;0,600;1,300&display=swap');

body {
  font-family: Work Sans, sans-serif;
  margin: 0px!important;
}

.form-body {
  background: #f4f5f6;
}

.form-border-top {
  border-top: 5px solid #eee;
  border-radius: 0.190rem;
}

.logo {
  font-family: Vollkorn, sans-serif;
  font-weight: 900;
  color: #23272b;
}

.vollkorn {
  font-family: Vollkorn, sans-serif;
  font-weight: 600;
}

.text-primary {
  color: #00909e!important;
}

.text-alt {
  color: #0f4c75!important;
}

.text-muted {
  color: #aaa!important;
}

.white {
  color:#fff;
}

a.logo:hover {
  color: #343a40;
  text-decoration: none;
}

a {
  color: #aaa;
}

a:hover {
  color: #343a40;
  text-decoration: none;
}

a:focus {
  color: #343a40;
  text-decoration: none;
}

.text-sm {
  font-size: 12px;
}

.text-thin {
  font-weight: 300;
}

.btn {
  border-radius: 0.190rem;
}

.form-control {
  border-radius: 0.190rem;
}

.btn-primary {
  background-color: #0f4c75;
  border: 1px solid #0f4c75;
  color: #fff;
}

.btn-primary:hover {
  background-color: #00909e;
  border: 1px solid #00909e;
  color: #fff;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #00909e;
  border: 1px solid #00909e;
  color: #fff;
}

.btn-primary:focus {
  background-color: #00909e;
  border: 1px solid #00909e;
  color: #fff;
}

.btn-light {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background-color: #fff;
  border-color: #fff;
}

/* - End of Global - */

/* - Index - */

.header {
  background-color: #fff;
  padding: 10px;
}

@media (max-width: 1100px) {
  .header {
    display: grid;
    grid-template-rows: auto auto;
    background-color: #fff;
    padding: 10px;
  }
  .hero {
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
  }
  .search {
    display: grid;
    grid-column: 1 / 3!important;
    grid-row: 1 / 2!important;
    padding: 30px;
  }

  .upload {
    display: grid;
    grid-column: 1 / 3!important;
    grid-row: 2 / 3!important;
    padding: 30px;
    background-image: url('./img/gplaypattern.png'), linear-gradient(to top, #0f4c75 0%, #00909e 100%);
    background-blend-mode: multiply;
    height: 100%;
  }

  .navbar-wide {
    display: none!important;
  }

  .document-icon {
    display: none;
  }

  .navbar-mobile {
    display: flex!important;
    grid-row: 2 / 2!important;
  }

  a.nav-link {
    color: rgba(0,0,0,.5);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .search-body {
    height: 400px!important;
  }
  .search-form-wide {
    display: none!important;
  }
  .search-form-mobile {
    display: grid!important;
  }
}
.navbar-wide {
  display: inherit;
}
.navbar-mobile {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: auto auto;
  height: 89.5vh;
}
  .search {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column: 1 / 1;
    background-image: url('https://images.unsplash.com/photo-1505409859467-3a796fd5798e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
  }
    .search-body {
      grid-column: 2 / 2;
      grid-row: 2 / 3;
      background-color: #ffffffec;
      padding: 30px;
      border-radius: 0.190rem;
      height: 310px;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }

    .search-form-wide {
      display: grid;
    }
    .search-form-mobile {
      display: none;
    }

    .employer-link {
      grid-column: 2 / 2;
      grid-row: 4 / 4;
    }

  .upload {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column: 2 / 2;
    background-image: url('./img/gplaypattern.png'), linear-gradient(to top, #0f4c75 0%, #00909e 100%);
    background-blend-mode: multiply;
    height: 100%;
  }
    .upload-body {
      grid-column: 2 / 2;
      grid-row: 2 / 3;
      color: #fff;
    }

  .project-summary {
    margin-bottom: 20px;
  }

/* - End of Index - */

/* - About - */

@media (max-width: 800px) {
  .about-hero {
    display: grid;
    grid-template-columns: 370px auto!important;
    grid-template-rows: auto auto!important;
    background-image: url('./img/gplaypattern.png');
    background-color: #00909e;
    background-blend-mode: screen;
    height: 100vh;
  }
  .about-header {
    grid-column: 1 / 3!important;
    grid-row: 1 / 2!important;
  }
  .about-body-1 {
    grid-column: 1 / 3!important;
    grid-row: 3 / 4!important;
  }
  .about-body-2 {
    grid-column: 1 / 3!important;
    grid-row: 6 / 7!important;
  }
  .about-body-3 {
    grid-column: 1 / 3!important;
    grid-row: 9 / 10!important;
  }
  .about-upload {
    grid-column: 1 / 3!important;
    grid-row: 12 / 15!important;
    margin: 0px!important;
    border-radius: 0rem!important;
  }
}

.about-hero {
  display: grid;
  grid-template-columns: auto 370px 370px 370px 370px;
  grid-template-rows: 115px 115px 115px 115px 115px 115px;
  background-image: url('./img/gplaypattern.png'), linear-gradient(130deg, #00909e 0%, #0f4c75 100%);
  background-blend-mode: screen;
  height: 100vh;
}
  .about-header {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    padding: 42px;
  }
  .about-body-1 {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    padding: 42px;
  }

  .about-body-2 {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
    padding: 42px;
  }
  .about-body-3 {
    grid-column: 3 / 3;
    grid-row: 4 / 5;
    padding: 42px;
  }
  .about-icon {
  color: #00909e;
}

.about-upload {
  grid-column: 4 / 4;
  grid-row: 4 / 7;
  background-image: url('./img/gplaypattern.png'), linear-gradient(138deg, #00909e 0%, #0f4c75 100%);
  background-blend-mode: multiply;
  border-radius: 0.190rem;
  padding: 42px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/* - End of About - */

/* - Feed - */

.save-card {
  background: #fff;
}

.background-0 {
  background: transparent!important;
}

.resume-header {
  min-height: 120px;
  background: #23272b;
}

/* - End of Feed - */

/* - Listing - */

@media (max-width: 800px) {
  .listing-hero {
    display: grid;
    grid-template-columns: auto!important;
    grid-template-rows: 50px!important;
    grid-row-gap: 18px!important;
    grid-column-gap: 0px!important;
    padding: 20px;
  }
    .results-text {
      grid-column: 1 / 1!important;
      grid-row: 1 / 1!important;
      padding-left: 2px;
    }
    .search-form-listing {
      display: none!important;
    }
    .filter-box {
      display: none!important;
    }
    .card-1 {
      grid-column: 1 / 1!important;
      grid-row: 2 / 2!important;
      border-radius: 0.190rem;
    }
    .card-2 {
      grid-column: 1 / 1!important;
      grid-row: 3 / 3!important;
      border-radius: 0.190rem;
    }
    .card-3 {
      grid-column: 1 / 1!important;
      grid-row: 4 / 4!important;
      border-radius: 0.190rem;
    }
  }

.listing-hero {
  display: grid;
  grid-template-columns: 300px auto auto;
  grid-template-rows: 0px 18px auto auto;
  grid-row-gap: 18px;
  grid-column-gap: 18px;
  padding: 20px;
  background: #eee;
}
  .filter-box {
    grid-column: 1 / 1;
    grid-row: 3 / span 3;
    height: 100%;
    padding: 30px;
    background-color: #fff;
    border-top: 8px solid #00909e;
  }

.listing-rectangle {
  background-color: #fff;
  height: 100%;
  border-radius: 0.190rem;
  padding: 32px;
  padding-bottom: 18px!important;
  border: 1px solid #e1e1e1;
}
  .results-text {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    padding-left: 2px;
  }
  .search-form-listing {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
  .card-1 {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }
  .card-1:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.15);
    transition: box-shadow 300ms ease-in-out;
  }
  .card-2 {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
  }
  .card-2:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.15);
    transition: box-shadow 300ms ease-in-out;
  }
  .card-3 {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
  }
  .card-3:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.15);
    transition: box-shadow 300ms ease-in-out;
  }

/* - End of Listing - */

/* - Job Detail - */

@media (max-width: 800px) {
  .header-search {
    display: none!important;
  }
}

.job-header {
  min-height: 160px;
  padding: 42px;
  background: #0f4c75;
}

.facebook {
  display: inline-block;
  height: 37px;
  width: 37px;
  text-decoration: none;
  font-size: 25px;
  padding: 1px 6px 8px 11px;
  border-radius: 3px;
  color: white!important;
  background-color: #2d609b!important;
  margin-right: 10px;
}

.linkedin {
  display: inline-block;
  height: 37px;
  width: 37px;
  text-decoration: none;
  font-size: 25px;
  padding: 1px 6px 3px 7px;
  border-radius: 3px;
  color: white!important;
  background-color: #007AB8!important;
  margin-right: 10px;
}

.twitter {
  display: inline-block;
  height: 37px;
  width: 37px;
  text-decoration: none;
  font-size: 25px;
  padding: 1px 6px 3px 6px;
  border-radius: 3px;
  color: white!important;
  background-color: #0ec3f3!important;
  margin-right: 10px;
}

.email {
  display: inline-block;
  height: 37px;
  width: 37px;
  text-decoration: none;
  font-size: 25px;
  padding: 1px 6px 3px 6px;
  border-radius: 3px;
  color: white!important;
  background-color: #0f2c3d!important;
  margin-right: 10px;
}


/* - End of Job Detail - */
